mixin post-tertiary(props = {})
  -
    const defaultProps = {
      views: '4k3',
      viewsIcon: 'las la-arrow-up',
      comments: '325',
      commentsIcon: 'las la-comment',
      time: '25th October, 2019',
      hasVideo: false,
      playIcon: 'las la-play',
      saveIcon: 'las la-bookmark'
    }

    const _props = Object.assign({}, defaultProps, props)

  +component('article', 'post-tertiary')&attributes(attributes)
    div.post-tertiary__meta.visible-desktop
      +link().post-tertiary__avatar.block
        +img(_props.avatar || random(api.post.avatar)).img-cover
      +link().post-tertiary__box.block
        i.block(class=_props.viewsIcon)
        span.block.mt-5=_props.views
      +link().post-tertiary__box.block
        i.block(class=_props.commentsIcon)
        span.block.mt-5=_props.comments

    div.post-tertiary__content
      +link().post-tertiary__thumb.aspect-ratio
        +img(_props.thumb || random(api.post.thumb)).img-cover
        if _props.hasVideo
          span.post-tertiary__play
            i(class=_props.playIcon)

      div.post-tertiary__info
        +link().post-tertiary__category=_props.category || random(api.post.categories)
        +heading({className: 'post-tertiary__title truncate-text-2', linkClassName: 'post-tertiary__title-link'})
        p.post-tertiary__desc.truncate-text-2=_props.desc || random(api.text, 100)
        div.post-tertiary__time.flex.flex-between-middle
          span.font-medium=_props.time
          +link()(data-tooltip='Save').post-tertiary__save.button-save
            i(class=_props.saveIcon)