//- props: {
    thumb: image url,
    avatar: image url
    authorName: String,
    title: String
  }

mixin post-primary(props = {})
  -
    const defaultProps = {
      views: "4k3",
      viewsIcon: "las la-arrow-up",
      comments: "825",
      commentsIcon: "las la-comment",
      time: "16th October, 2019",
      iconSave: 'las la-bookmark',
    }
    const _props = Object.assign({}, defaultProps, props)

  +component('article', 'post-primary')
    +link().post-primary__thumb.aspect-ratio
      +img(_props.thumb || random(api.post.thumb)).img-cover
    div.post-primary__info
      div.post-primary__meta
        +link().post-primary__avatar
          +img(_props.avatar || random(api.post.avatar)).img-cover
        +link().mr-auto=_props.authorName || random(api.post.author)
        +link()
          i(class=_props.viewsIcon)
          | &nbsp;
          span=_props.views
        +link()
          i(class=_props.commentsIcon)
          | &nbsp;
          span=_props.comments
      h3.post-primary__title
        +link()=_props.title || random(api.post.title)
      div.post-primary__time
        span=_props.time
        +link().post-primary__save
          i(class=_props.iconSave)
