mixin link(href)
  if !href
    a(href="javascript:void(0)")&attributes(attributes)
      if block
        block
  else
    a(href=href)&attributes(attributes)
      if block
        block

mixin img(src, alt)
  if !alt
    img(src=src, alt="")&attributes(attributes)
  else
    img(src=src, alt=alt)&attributes(attributes)

mixin menuItem(prefix, content, hasSubMenu=false, active=false)
  li(class=`${prefix}__item`)&attributes(attributes)
    +link()(class=`${prefix}__link ${active? `${prefix}__link--active`: ''}` title=content)=content
      if hasSubMenu
        i.las.la-angle-down(class=`${prefix}__icon`)

    if hasSubMenu
      ul.o-sub-menu
        - var subMenus = ['Sub link 1', 'Sub link 2', 'Sub link 3', 'Sub link 4', 'Sub link 5']
        each sub in subMenus
          li.o-sub-menu__item
            +link()(class="o-sub-menu__link")=sub


